## required
DAILY_API_KEY="..." # https://dashboard.daily.co/u/signup?pipecat=y
GOOGLE_API_KEY="..." # https://aistudio.google.com/apikey

## optional
DAILY_SAMPLE_ROOM_URL=https://yourdomain.daily.co/yourroom # (for joining the bot to the same room repeatedly for local dev)
PIPECAT_CLOUD_API_KEY=
PIPECAT_CLOUD_API_HOST=
PIPECAT_CLOUD_AGENT=annie-hall-weather